:root {
  --sidebar-width: 2rem;
  --title-color: rgb(112, 59, 59);
  --aside-color: rgb(238 224 200);
  --link-color: rgb(211, 88, 49);
}
[data-id="main"] {
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 0px;
  font-size: 0.82rem;
  float: left;
}
[data-id="title"] {
  margin-bottom: 0.15in;
}
h1 {
  text-transform: capitalize;
  color: var(--title-color);
  font-weight: 600;
}
[data-id="main"] h2::after {
    height: calc(var(--row-blocks-padding-top) * 1.2);
}
.aside h2 + p {
  margin-top: 0.3em !important;
}
[data-id="contact"] ul {
    font-weight: 200;
    line-height: 1.5;
}
[data-id="skills"] {
    line-height: 1.2;
}
.aside h2 {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0;
  color: var(--title-color);
}
.date{
  font-size: 0.77em;
}
.aside {
  background-color: var(--aside-color);
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  font-size: 0.78rem;
  float: left;
}
[data-id="disclaimer"] {
  position: absolute;
  bottom: -25px;
  right: var(--sidebar-horizontal-padding);
  font-size: 0.75rem;
  font-style: italic;
  line-height: 0;
  color: #777;
  padding-left: 15px;
  margin-right: -17px;
  text-align: left;
}
a {
  color: var(--link-color);
}
.aside .level2 {
  margin-top: 0.1in;
}
.pagedjs_first_page {
  --sidebar-background-color: var(--aside-color);
  --sidebar-width: 11rem;
  --pagedjs-margin-bottom: 0.5in !important;
  --main-width: calc(var(--content-width) - var(--sidebar-width)) !important;
  --pagedjs-margin-top: 0.5in !important;
}
.pagedjs_page {
  --pagedjs-margin-right: 0.25in !important;
  --pagedjs-margin-top: 0.1in;
  --sidebar-background-color: var(--aside-color);
}
#overlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #ffffff;
}
#spinner {
  display: block;
  position: fixed;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  z-index: 101;
  background-color: #3498db;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
@keyframes sk-rotateplane {
  0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
